/* Reset y ocupación total */
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Contenedor principal */
.app {
  display: flex;
  flex-direction: column;
  /* Todo en columna */
  align-items: center;
  /* Centra horizontalmente */
  justify-content: center;
  /* Centra verticalmente */
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #000;
  /* Fondo oscuro tipo SHODAN */
  color: #00ff55;
  font-family: 'Orbitron', sans-serif;
  box-sizing: border-box;
}

/* Cabecera del chatbot */
.chatbot-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* GIF centrado */
.chatbot-avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0 0 20px #00ff55;
}

/* Nombre y eslogan */
h1 {
  font-size: 3rem;
  margin: 0;
  color: #00ff51;
}

.slogan {
  font-style: italic;
  font-size: 1.3rem;
  color: #b2f7ef;
  margin-bottom: 40px;
}

/* Zona del chatbot */
.chatbot {
  background-color: rgba(50, 10, 10, 0.9);
  border: 2px solid #00ff55;
  border-radius: 10px;
  padding: 1.5rem;
  width: 60%;
  max-width: 700px;
  min-height: 200px;
  box-shadow: 0 0 15px #00ff55;
}

/* Responsive */
@media (max-width: 768px) {
  .chatbot-avatar {
    width: 150px;
    height: 150px;
  }

  h1 {
    font-size: 2rem;
  }

  .slogan {
    font-size: 1rem;
  }

  .chatbot {
    width: 90%;
  }
}