body {
    background-color: #000000;
    color: rgb(21, 194, 105);
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-container {
    text-align: center;
}